{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
	{% for post in posts %}
	<h2> {{post.title}}</h2>
      <p>{{post.article}}</p>
	{% endfor %}
	</div>
	</div>
</div>


{% block footer%}
<footer class="blog-footer ">
  <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>
{% endblock%}    

{% endblock%}