{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-8">
	
	{% if post %}
	<h2> {{post.title}}</h2>
	<span class="label label-default">{{post.pub_date.strftime('%Y-%m-%d')}}</span>
	<span class="label label-info">{{post.catergory.name}}</span>
	<hr>
      <p>{{post.article | safe}}</p>
    {% else %}}
    <h2>Oops, nothing here!</h2>
    {% endif %}


	</div>
	</div>
	


</div>


{% block footer%}
<footer class="blog-footer ">
  <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>
{% endblock%}    

{% endblock%}