{% extends "layout.html"%}


{% block content %}

<div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">


         {% block post%}
           {% for post in posts.items %}
			  <div class="blog-post">
			    <a href="{{url_for('article', post_id=post.id)}}"><h2 class="blog-post-title">{{post.title}}</h2></a>
			    <p class="blog-post-meta">{{post.pub_date.strftime('%Y-%m-%d')}} by <a href="#">Mark</a></p>
			    <p>{{post.article[:5]}}</p>
			    <hr>
			  </div>
			{% endfor %}
		 {% endblock%}


		 <nav>
		   <ul class="pager">
		     {% if not posts.has_prev %}
		     <li class="disabled"><a href="#">Previous</a></li>
		     {% else %}
		     <li><a href="{{url_for('home', page=posts.prev_num)}}">Previous</a></li>
		     {% endif %}
		     {% if not posts.has_next %}
		     <li class="disabled"><a href="#">Next</a></li>
		     {% else %}
		     <li><a href="{{url_for('home', page=posts.next_num)}}">Next</a></li>
		     {% endif %}
		   </ul>
		 </nav>

        </div>


          <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
              <h4>About</h4>
               <p>It's not about the salary, it's all about reality.</p>
            </div>

            <div class="sidebar-module">
              <h4>Catergories</h4>
              <ol class="list-unstyled">
              {% for catergory in catergories %}
               <li><a href="{{url_for('articles_of_catergory', catergory_name=catergory[0].name)}}">{{catergory[0].name}} <span class="badge">{{catergory[1]}}</span></a></li>
              {% endfor %}

              </ol>
            </div>
            

            </div><!-- /.blog-sidebar -->


     </div>


       
     </div><!-- /.row -->

   </div><!-- /.container -->


{% block footer%}
<footer class="blog-footer">
  <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>
{% endblock%}



{% endblock %}
 
