{% extends "layout.html"%}


{% block content %}

<div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">


         {% block post%}
           {% for post in posts.items %}
			  <div class="blog-post">
			    <h2 class="blog-post-title">{{post.title}}</h2>
			    <p class="blog-post-meta">Posted at <span class="label label-default">{{post.pub_date.strftime('%Y-%m-%d')}}</span> by <span class="label label-danger">Leo Xie</span></p>
			    <p>{{post.article[:5]}}</p>
          <a href="{{url_for('main.article', post_id=post.id)}}"><p>Read more...</p></a>
			    <hr>
			  </div>
			{% endfor %}
		 {% endblock%}

     <nav>
       <ul class="pager">
         {% if not posts.has_prev %}
         <li class="disabled"><a href="#">Previous</a></li>
         {% else %}
         <li><a href="{{url_for('main.articles_of_catergory', catergory_name=catergory_name, page=posts.prev_num)}}">Previous</a></li>
         {% endif %}
         {% if not posts.has_next %}
         <li class="disabled"><a href="#">Next</a></li>
         {% else %}
         <li><a href="{{url_for('main.articles_of_catergory', catergory_name=catergory_name, page=posts.next_num)}}">Next</a></li>
         {% endif %}
       </ul>
     </nav>

        </div>


          <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module">
              <h4>Catergories</h4>
              <ol class="list-unstyled">
              {% for catergory in catergories %}
               <li><a href="{{url_for('main.articles_of_catergory', catergory_name=catergory[0].name)}}">{{catergory[0].name}} <span class="badge">{{catergory[1]}}</span></a></li>
              {% endfor %}

              </ol>
            </div>
            
            </div><!-- /.blog-sidebar -->


     </div>


       
     </div><!-- /.row -->

   </div><!-- /.container -->


{% block footer%}
{{super()}}
{% endblock%}



{% endblock %}
 
