{% extends "bootstrap/base.html" %}



{% block title %}Leo's Blog{% endblock title%}
{% block head %}
{{super()}}
<link href="{{url_for('static', filename='blog.css')}}" rel="stylesheet">
<link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
{% endblock head%}

{% block navbar %}
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{url_for('main.home')}}">Leo's Blog</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
           <a href="{{url_for('main.home')}}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Articles <span class="caret"></span></a>
           <ul class="dropdown-menu">
             {% for catergory in catergories %}
               <li><a href="{{url_for('main.filter_by_catergory', catergory_name=catergory[0].name)}}">{{catergory[0].name}} </a></li>
             {% endfor %}
           </ul>
         </li>
        {% if current_user.is_authenticated %}
        <li><a href="{{url_for('main.new')}}">New post</a></li>
        <li><a href="{{url_for('main.editall')}}">Edit</a></li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
      {% if not current_user.is_authenticated %}
        <li><a href="{{url_for('auth.login')}}">Login</a></li>
      {% else %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="http://www.gravatar.com/avatar/816d106f567b61780c50a805ceed3f0f?s=18">{{current_user.username}}<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
        </ul>
        </li>
      {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock navbar %}


{% block content %}
<div class="container">

{%with messages=get_flashed_messages()%}
  {% for message in messages %}
  <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{message}}
  </div>
  {% endfor %}
{% endwith %}


{% block post%}
{% endblock post%}
</div>

<footer class="blog-footer ">
  <p>&copy; Copyright 2011-{{ moment().format('YYYY') }} <a href="mailto:{{'rookiebulls@gmail.com'}}">Email: rookiebulls@gmail.com</a></p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>
{% endblock content %}



{% block scripts %}
  {{super()}}
  {{ moment.include_jquery() }}
  {{ moment.include_moment() }}
  {{ moment.lang("en") }}
  <script type="text/javascript">
$('.blog-footer').css('margin-top',$(document).height() - ($('.navbar').height() + $('.container').height()+80));
</script>
{% endblock scripts %}